#AddDefaultCharset utf-8

#RewriteEngine on
#RewriteBase /

#RewriteCond %(REQUEST_FILENAME) !-f
#RewriteCond %(REQUEST_FILENAME) !-d

#RewriteRule ^(.*)$ index.php
<IfModule mod_rewrite.c>
# 	Options +FollowSymLinks
	RewriteEngine on
#	RewriteEngine On
    RewriteCond %{HTTPS} !=on
#    DirectoryIndex index.php
#    RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [L]
</IfModule>